/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--font-display: "Abril Fatface", serif;
}


/****************/
/* JOUW STYLING */
/****************/

header {
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 1rem 1.5rem;
	background-color: gainsboro;
}

h1 {
	font-family: var(--font-display);
	font-size: clamp(1rem, 5vw, 3.5rem);
}

.lab_logo {
	width: 4em;
	height: auto;
}

@media (max-width: 600px) {
	header{
		flex-direction: column;
		text-align: center;
	}
}
